		<div id="middle" class="container">
			<div class="white">

				<header class="page-header">
					<h1><strong>Галерея</strong> Мероприятия</h1>
				</header>


				<!-- PORTFOLIO -->
				<section id="portfolio">

					<p class="lead">Нектороый текст с описанием мероприятия и галереи. Например, кто и когда фотографировал. Приглашение сделать фоторепортаж в этом году.</p>

					<div class="row">
						<div class="col-md-12">

							<ul class="nav nav-pills isotope-filter isotope-filter noborder pull-right" data-sort-id="isotope-list" data-option-key="filter">
								<li data-option-value="*" class="active"><a href="#">Все</a></li>
								<li data-option-value=".2013"><a href="#">2013 год</a></li>
								<li data-option-value=".2012"><a href="#">2012 год</a></li>
								<li data-option-value=".2011"><a href="#">2011 год</a></li>
							</ul>

						</div>
					</div>


					<div class="row">

						<ul class="sort-destination isotope" data-sort-id="isotope-list">

							<li class="isotope-item col-sm-4 col-md-4 2013"><!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="portfolio-single-slider.html">
											<span class="overlay"></span>
											<span class="inner">
												<strong>Открыть</strong> Изображение
											</span>
										</a>
										<img class="img-responsive" src="/images/bg/1.jpg" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>2013 год</h4>
										<small class="styleColor">01 Июня, 2014</small>
									</div>
								</div>
							</li>

							<li class="isotope-item col-sm-4 col-md-4 2013"><!-- item 2 -->
								<div class="item-box">
									<figure>
										<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
											<span class="overlay"></span>
											<span class="inner">
												<strong>Открыть</strong> Изображение
											</span>
										</a>
										<img class="img-responsive" src="/images/bg/2.jpg" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>2013 год</h4>
										<small class="styleColor">01 Июня, 2014</small>
									</div>
								</div>
							</li>

							<li class="isotope-item col-sm-4 col-md-4 2011"><!-- item 3 -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="portfolio-single-slider.html">
											<span class="overlay"></span>
											<span class="inner">
												<strong>Открыть</strong> Изображение
											</span>
										</a>
										<img class="img-responsive" src="/images/bg/3.jpg" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>2012 год</h4>
										<small class="styleColor">01 Июня, 2014</small>
									</div>
								</div>
							</li>

							<li class="isotope-item col-sm-4 col-md-4 2012"><!-- item 4 -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="portfolio-single-slider.html">
											<span class="overlay"></span>
											<span class="inner">
												<strong>PROJECT</strong> DETAIL
											</span>
										</a>
										<img class="img-responsive" src="/images/bg/4.jpg" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>2011 год</h4>
										<small class="styleColor">01 Июня, 2014</small>
									</div>
								</div>
							</li>

							<li class="isotope-item col-sm-4 col-md-4 2012"><!-- item 5 -->
								<div class="item-box">
									<figure>
										<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
											<span class="overlay"></span>
											<span class="inner">
												<strong>Открыть</strong> Изображение
											</span>
										</a>
										<img class="img-responsive" src="/images/bg/5.jpg" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>2012 год</h4>
										<small class="styleColor">01 Июня, 2014</small>
									</div>
								</div>
							</li>

							<li class="isotope-item col-sm-4 col-md-4 2012"><!-- item 6 -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="portfolio-single-slider.html">
											<span class="overlay"></span>
											<span class="inner">
												<strong>Открыть</strong> Изображение
											</span>
										</a>
										<img class="img-responsive" src="/images/bg/1.jpg" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>2013 год</h4>
										<small class="styleColor">01 Июня, 2014</small>
									</div>
								</div>
							</li>

						</ul>

					</div><!-- /.masonry-container -->

					<!-- CALLOUT -->
					<div class="bs-callout text-center nomargin-bottom">
						<h3>Хотите стать нашим партнёром? <a href="contact-1.html" target="_blank" class="btn btn-primary btn-lg">Делаем праздник вместе!</a></h3>
					</div>
					<!-- /CALLOUT -->


				</section>
				<!-- /PORTFOLIO -->



			</div>
		</div>
