	<div id="middle" class="container">
			<div class="white">

				<header class="page-header">
					<h1>Встречайте <strong>Наших Партнёров!</strong></h1>
				</header>

				<article>
					<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
				<article>

				<div class="row team text-center">

					<div class="col-sm-3 col-md-3">
						<div class="thumbnail text-center">
							<div class="item-image">
								<img class="img-responsive" src="/images/partners/large_partner.png" alt="" />
								<h3>
									<span>Партнёр</span> <br />
									<small>Надпись</small>
								</h3>
							</div>
							<div class="caption text-left">
								<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
								<a href="#" class="social rounded fa fa-facebook"></a>
								<a href="#" class="social rounded fa fa-twitter"></a>
								<a href="#" class="social rounded fa fa-google-plus"></a>
							</div>
						</div>
					</div>					<div class="col-sm-3 col-md-3">
						<div class="thumbnail text-center">
							<div class="item-image">
								<img class="img-responsive" src="/images/partners/large_partner.png" alt="" />
								<h3>
									<span>Партнёр</span> <br />
									<small>Надпись</small>
								</h3>
							</div>
							<div class="caption text-left">
								<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
								<a href="#" class="social rounded fa fa-facebook"></a>
								<a href="#" class="social rounded fa fa-twitter"></a>
								<a href="#" class="social rounded fa fa-google-plus"></a>
							</div>
						</div>
					</div>

										<div class="col-sm-3 col-md-3">
						<div class="thumbnail text-center">
							<div class="item-image">
								<img class="img-responsive" src="/images/partners/large_partner.png" alt="" />
								<h3>
									<span>Партнёр</span> <br />
									<small>Надпись</small>
								</h3>
							</div>
							<div class="caption text-left">
								<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
								<a href="#" class="social rounded fa fa-facebook"></a>
								<a href="#" class="social rounded fa fa-twitter"></a>
								<a href="#" class="social rounded fa fa-google-plus"></a>
							</div>
						</div>
					</div>

										<div class="col-sm-3 col-md-3">
						<div class="thumbnail text-center">
							<div class="item-image">
								<img class="img-responsive" src="/images/partners/large_partner.png" alt="" />
								<h3>
									<span>Партнёр</span> <br />
									<small>Надпись</small>
								</h3>
							</div>
							<div class="caption text-left">
								<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
								<a href="#" class="social rounded fa fa-facebook"></a>
								<a href="#" class="social rounded fa fa-twitter"></a>
								<a href="#" class="social rounded fa fa-google-plus"></a>
							</div>
						</div>
					</div>

				</div>

				<!-- CALLOUT -->
<%= render '/shared/doit' %>


			</div>
		</div>
