		<div id="middle" class="container">
			<div class="white">

				<header class="page-header">
					<h1>Программа мероприятия</h1>
				</header>


				<h3>Приглашаем <strong>Вас</strong> принять участие!</h3>

				<p class="lead">Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>

				<div class="divider"><!-- divider --></div>

				<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
				<a class="pull-right inner img-thumbnail lightbox" href="/images/bg/1.jpg" data-plugin-options='{"type":"image"}'>
					<img class="img-responsive" src="/images/thumb/1.jpg" alt="image" />
				</a>
				<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
				<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
				<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>

				<div class="divider"><!-- divider --></div>

				<div class="row">
					<div class="col-md-4">
						<h4>Кто участвует?</h4>
						<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
					</div>
					<div class="col-md-4">
						<h4>Какие ВУЗы?</h4>
						<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
					</div>
					<div class="col-md-4">
						<h4>Что будет происходить?</h4>
						<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
					</div>
				</div>

				<div class="divider"><!-- divider --></div>

				<a class="pull-right inner img-thumbnail lightbox" href="/images/bg/3.jpg" data-plugin-options='{"type":"image"}'>
					<img class="img-responsive" src="/images/thumb/3.jpg" alt="image" />
				</a>
				<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
				<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
				<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>
				<p>Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>


			</div>
		</div>
