<div id="middle" class="container">
			<div class="white">

				<!-- add class "controlls-over" if you need the button controlls over the image -->
				<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "autoPlay": true, "autoHeight": true, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
					<div>
						<img alt="" class="img-responsive" src="/images/slides/slide.png">
					</div>
					<div>
						<img alt="" class="img-responsive" src="/images/slides/slide.png">
					</div>
				</div>


				<!-- article -->
				<article>

					<p class="lead">Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. </p>

				</article>
				<!-- /article -->

			</div>
		</div>
