<!-- CLIENTS/BRANDS -->
<div class="owl-carousel" data-plugin-options='{"singleItem": false, "pagination": false, "autoPlay": true}'>
	<div>
		<img class="img-responsive" src="/images/partners/blank.png" alt="">
	</div>
	<div>
		<img class="img-responsive" src="/images/partners/blank.png" alt="">
	</div>
	<div>
		<img class="img-responsive" src="/images/partners/blank.png" alt="">
	</div>
	<div>
		<img class="img-responsive" src="/images/partners/blank.png" alt="">
	</div>
	<div>
		<img class="img-responsive" src="/images/partners/blank.png" alt="">
	</div>
	<div>
		<img class="img-responsive" src="/images/partners/blank.png" alt="">
	</div>
	<div>
		<img class="img-responsive" src="/images/partners/blank.png" alt="">
	</div>
	<div>
		<img class="img-responsive" src="/images/partners/blank.png" alt="">
	</div>
</div>
<!-- /CLIENTS/BRANDS -->