    <!-- BLOG -->
    <link href="/css/blog.css" rel="stylesheet" type="text/css" />


    <div id="middle" class="container">
      <div class="white">

        <header class="page-header">
          <h1>Новости мероприятия</h1>
        </header>

        <div id="blog" class="row">

          <!-- LEFT COLUMN -->
          <div class="col-md-9">

            <!-- blog item -->
            <div class="item">

              <!-- article title -->
              <div class="item-title">
                <h2><a href="#">Заголовок первой новости</a></h2>
                
                <span class="label label-default light">12 мая, 2014</span> 
              </div>

              <!-- image -->
              <figure>
                <img src="/images/bg/1.jpg" class="img-responsive" alt="img" />
              </figure>

              <!-- blog short preview -->
              <p>
                Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. 
              </p>

              <!-- read more button -->
              <a href="#" class="btn btn-xs"><i class="fa fa-sign-out"></i> ЧИТАТЬ ПОЛНОСТЬЮ</a>

            </div>
            <!-- /blog item -->


            <!-- blog item -->
            <div class="item">

              <!-- article title -->
              <div class="item-title">
                <h2><a href="#">Заголовок второй новости</a></h2>
                
                <span class="label label-default light">14 мая, 2014</span> 
              </div>

              <!-- image -->
              <figure>
                <img src="/images/bg/2.jpg" class="img-responsive" alt="img" />
              </figure>

              <!-- blog short preview -->
              <p>
                Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. Здесь будет расположен небольшой текст. 
              </p>

              <!-- read more button -->
              <a href="#" class="btn btn-xs"><i class="fa fa-sign-out"></i> ЧИТАТЬ ПОЛНОСТЬЮ</a>

            </div>
            <!-- /blog item -->


            <!-- PAGINATION -->
            <div class="text-center">
              <ul class="pagination">
                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
              </ul>
            </div>
            <!-- /PAGINATION -->

          </div>
          <!-- /LEFT COLUMN -->


          <!-- RIGHT COLUMN -->
          <div class="col-md-3">


            <!-- blog search -->
            <div class="widget">

              <h3>ПОИСК</h3>

              <form method="get" action="#" class="input-group">
                <input type="text" class="form-control" name="s" id="s" value="" placeholder="Искать" />
                <span class="input-group-btn">
                  <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
              </form>
            </div>



            <!-- RECENT,POPULAR -->
            <div class="widget">

              <!-- TABS -->
              <div class="tabs nomargin-top">

                <!-- tabs -->
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#tab1" data-toggle="tab">
                      Последние новости
                    </a>
                  </li>
                 
                </ul>

                <!-- tabs content -->
                <div class="tab-content">
                  <div id="tab1" class="tab-pane active">

                    <ul>
                      <li><a href="#"><i class="fa fa-sign-out"></i> Заголовок первой новости</a> <small>12 мая 2014 / 12:43</small></li>
                      <li><a href="#"><i class="fa fa-sign-out"></i> Заголовок второй новости</a> <small>13 мая 2014 / 12:43</small></li>
                    </ul>
                  </div>
                </div>

              </div>
              <!-- /TABS -->

            </div>
            <!-- /RECENT,POPULAR -->




          </div>
          <!-- /RIGHT COLUMN -->

        </div>

      </div>
    </div>
